---
import Container from "@components/Container";
import Facebook from "@assets/icon/fb-vector.svg";
import Instagram from "@assets/icon/ig-vector.svg";
import Linkedin from "@assets/icon/linkedin-vector.svg";
import Twitter from "@assets/icon/tweet-vector.svg";
import logoWhite from "@assets/LogoWhite.svg";
import { Image } from "astro:assets";
import {
  productFooter,
  companyDetailsFooter,
  getInTouchFooter,
  resourcesFooter,
} from "@utils/constant";
---

<footer class="bg-[#0F1821]">
  <Container>
    <div class="grid grid-cols-2 md:grid-cols-4 lg:flex py-16 gap-8">
      <div class="col-span-full lg:w-2/6 flex flex-col gap-4">
        <Image src={logoWhite} alt="Logo Taskgain" width={200} />
        <p class="text-lg lg:text-xl text-white font-medium leading-8">
          The #1 way to manage clients, projects and finance
        </p>
      </div>
      <div class="xl:w-1/6 flex flex-col gap-4">
        <h4 class="font-semibold text-white">Product</h4>
        {
          productFooter.map((product) => (
            <a href="#" class="block text-gray-400 w-fit hover:text-white">
              {product}
            </a>
          ))
        }
      </div>
      <div class="xl:w-1/6 flex flex-col gap-4">
        <h4 class="font-semibold text-white">Resources</h4>
        {
          resourcesFooter.map((resources) => (
            <a href="#" class="block w-fit text-gray-400 hover:text-white">
              {resources}
            </a>
          ))
        }
      </div>
      <div class="xl:w-1/6 flex flex-col gap-4">
        <h4 class="font-semibold text-white">Company Details</h4>
        {
          companyDetailsFooter.map((companyDetails) => (
            <a href="#" class="block w-fit text-gray-400 hover:text-white">
              {companyDetails}
            </a>
          ))
        }
      </div>
      <div class="xl:w-1/6 flex flex-col gap-4">
        <h4 class="font-semibold text-white">Get in Touch</h4>
        {
          getInTouchFooter.map((getInTouch) => (
            <a href="#" class="block w-fit text-gray-400 hover:text-white">
              {getInTouch}
            </a>
          ))
        }
      </div>
    </div>
  </Container>
  <div class="border-t py-8 border-gray-700">
    <Container>
      <div class="flex justify-between">
        <p class="text-gray-400">© 2023 StoriesOnBoard. All Rights reserved</p>
        <div class="flex gap-2">
          <a
            href="#"
            class="transition-all bg-gray-700 rounded-full flex justify-center items-center hover:bg-primaryHover h-10 w-10"
          >
            <Image src={Facebook} alt="Facebook logo" />
          </a>
          <a
            href="#"
            class="bg-gray-700 h-10 w-10 rounded-full flex justify-center items-center hover:bg-primaryHover transition-all"
          >
            <Image src={Twitter} alt="Twitter Logo" />
          </a>
          <a
            href="#"
            class="bg-gray-700 h-10 w-10 rounded-full flex justify-center items-center hover:bg-primaryHover transition-all"
          >
            <Image src={Instagram} alt="Instagram logo" />
          </a>
          <a
            href="#"
            class="bg-gray-700 h-10 w-10 rounded-full flex justify-center items-center hover:bg-primaryHover transition-all"
          >
            <Image src={Linkedin} alt="Linkedin logo" />
          </a>
        </div>
      </div>
    </Container>
  </div>
</footer>
