---
import Intercom from "@assets/Intercom.svg";
import Lutfhansa from "@assets/Lufthansa.svg";
import Monday from "@assets/monday.svg";
import Walgreens from "@assets/Walgreens.svg";
import Yodel from "@assets/Yodel.svg";

import { Image } from "astro:assets";
---

<div>
  <h2 class="text-center text-xl text-gray-500 mb-6">Trusted by</h2>
  <div class="flex justify-between">
    <Image src={Lutfhansa} alt="Logo Perusahaan Intercom" width={150} />
    <Image src={Walgreens} alt="Logo Perusahaan Intercom" width={150} />
    <Image src={Monday} alt="Logo Perusahaan Intercom" width={150} />
    <Image src={Yodel} alt="Logo Perusahaan Intercom" width={150} />
    <Image src={Intercom} alt="Logo Perusahaan Intercom" width={150} />
  </div>
</div>
