---
import Intercom from "@assets/IntercomWhite.svg";
import Lutfhansa from "@assets/LufthansaWhite.svg";
import Monday from "@assets/mondayWhite.svg";
import Walgreens from "@assets/WalgreensWhite.svg";
import Yodel from "@assets/YodelWhite.svg";
import Container from "@components/Container";

import { Image } from "astro:assets";
---

<div class="bg-[#0f1821] py-12">
  <Container>
    <div>
      <h2 class="text-center text-2xl text-white mb-8">Trusted by</h2>
      <div class="grid justify-items-center gap-4 grid-cols-2 xl:flex xl:justify-between">
        <Image src={Lutfhansa} alt="Logo Perusahaan Intercom" width={150} />
        <Image src={Walgreens} alt="Logo Perusahaan Intercom" width={150} />
        <Image src={Monday} alt="Logo Perusahaan Intercom" width={150} />
        <Image src={Yodel} alt="Logo Perusahaan Intercom" width={150} />
        <Image src={Intercom} alt="Logo Perusahaan Intercom" width={150} />
      </div>
    </div>
  </Container>
</div>
